@{

    Layout = null;

}

<div class="sidebox widget">
    <h3 class="widget-title section-title">Axtar</h3>
    <form class="searchform" action="/Home/Axtar" method="post">
        <label><i class="icon-search"></i></label>
        <input type="text" id="s2" name="content" value="bir sey axtar" onfocus="this.value=''" onblur="this.value='Bir Sey Axtar'" />
        <button type="submit" class="btn">Axtar</button>
    </form>
</div>