
@{
    ViewBag.Title = "Yazıçı Ol";
}

<form action="/Yazar/Yazarol" method="post">
    <table>
        <tr>
            <td>Ad :</td>
            <td>
                <input type="text" name="adi" value=" " />
            </td>
        </tr>

        <tr>
            <td>Soyad :</td>
            <td>
                <input type="text" name="soyadi" value=" " />
            </td>
        </tr>

        <tr>
            <td>İstifadəçi Adı :</td>
            <td>
                <input type="text" name="kullaniciadi" value=" " />
            </td>
        </tr>

        <tr>
            <td>Şifrə :</td>
            <td>
                <input type="password" name="parol" value=" " />
            </td>
        </tr>

        <tr>
            <td>E-Mail :</td>
            <td>
                <input type="text" name="mailadresi" value=" " />
            </td>
        </tr>

        <tr>
            <td>Cinsiyyət :</td>
            <td>
                <input type="radio" name="rdman" value="" />
                <span>Bəy</span>
                <input type="radio" name="rdwoman" value="" />
                <span>Xanım</span>
            </td>
        </tr>

        <tr>
            <td>Doğum Tarixi :</td>
            <td>
                <input type="date" name="dogumtarixi" value="" />
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" name="name" value="Üzv Ol" />
            </td>
        </tr>

        <tr>
            <td>Özünüz haqqında məlumat :</td>
            <td>
                <input type="text" name="kullaniciadi" value="" />
            </td>
        </tr>
    </table>
</form>