
@{
    ViewBag.Title = "Giris Et";
}

<form action="/Kullanici/Girisyap" method="post">
    <table>
        <tr>
            <td>İstifadəçi Adı :</td>
            <td>
                <input type="text" name="kullaniciadi" />
            </td>
        </tr>
        <tr>
            <td>Şifrə :</td>
            <td>
                <input type="password" name="parol"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="name" value="Giriş Et"/>
            </td>
        </tr>
    </table>
</form>

